In [4]:
import pandas as pd
import numpy as np
import pickle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [5]:
df = pd.read_csv('IceCreamData.csv')

In [6]:
df.head()

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122
2    27.790554  660.632289
3    20.595335  487.706960
4    11.503498  316.240194

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  500 non-null    float64
 1   Revenue      500 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB

In [10]:
X = df['Temperature']
y = df['Revenue']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [12]:
len(X_train)

400

In [13]:
len(X_test)

100

In [14]:
model = LinearRegression()

In [15]:
y_test.ndim

1

In [16]:
X_train.ndim

1

In [17]:
np.array([X_train]).ndim

2

In [18]:
model.fit(np.array([X_train]).reshape(-1,1), y_train)

LinearRegression()

In [20]:
y_pred = model.predict(np.array(X_test).reshape(-1,1))

In [22]:
y_pred

array([680.4682898 , 434.50551717, 654.41685937, 569.31409673,
       666.07801021, 377.80131027, 871.72497288, 414.48292542,
       743.18914742, 557.25508363, 639.38508935, 280.71428398,
       429.35620718, 329.40843142, 817.86899436, 508.48854716,
       421.72287683, 231.34308958, 384.84583463, 782.6182992 ,
       537.89544536, 518.92346174, 523.02227464, 630.48549317,
       509.0797663 , 122.20059299, 231.33344098, 722.5159625 ,
       467.65000192, 695.48680387, 493.19817873, 174.27573567,
       562.07036063, 626.4792798 , 575.67886299, 890.68147198,
       605.1099146 , 796.50903825, 394.45529921, 450.47094365,
       571.31613146, 200.89068858, 603.61939485, 448.37794738,
        64.58246555, 662.20763334, 729.71197852, 898.10382323,
       443.09496731, 634.0560242 , 481.19089976, 446.15866282,
       599.61578307, 669.27866745, 502.91778123, 467.12136206,
       369.79479755,  49.36563772, 408.02366374, 538.20418622,
       589.17310918, 629.14376532, 684.17578385, 472.01239754,
       700.36781823, 426.74473772, 392.17817914, 911.27879553,
       613.75726284, 379.37484446, 836.74467844, 698.81051521,
       544.17261568, 359.61186145, 641.45497299, 578.48627592,
       468.40607822, 283.24502567, 446.90883368, 528.8225611 ,
       413.68927257, 243.20502495, 604.62095939, 588.63090875,
       860.31509589, 633.51334273, 625.21224502, 862.21420578,
       517.79816998, 446.08797546, 147.95070027, 568.52225766,
       688.48710002, 398.54756099, 306.69304156, 535.41098254,
       282.29223846, 449.92493539, 468.46826692, 460.23066642])

In [23]:
y_test

344    702.994011
33     418.137279
271    651.486741
296    538.312890
83     685.362388
          ...
120    540.798122
240    288.158145
425    450.708589
66     496.011295
132    448.471335
Name: Revenue, Length: 100, dtype: float64

In [24]:
r2_score(y_test, y_pred)

0.9804644878458075

In [26]:
model.predict([[1]])

array([65.0783016])

In [27]:
with open('model.pkl','wb') as files:
    pickle.dump(model,files)